.search-paginator-container{
  display: flex;
  justify-content: space-between;
}

.button {
  outline: none;
  background: none;
  border: none;
  transition: border 1s;
}

.button:hover{
  cursor: pointer;
}

.search-input{
  border: 1px solid #fffffe;
  outline: none;
  background: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

