<div class="container">
  <div class="status-container">
      <span>Заповніть поля, та вперед за покупками</span>
  </div>
  <div class="login-password-form">
    <div class="input-holder">
      <label for="login-input">Електронна адреса</label>
      <input type="email" id="login-input" class="input">
    </div>
    <div class="input-holder">
      <label for="password-input">Пароль</label>
      <input type="password" id="password-input" class="input">
    </div>
    <button class="button">Продовжити</button>
  </div>
</div>

