<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step label="Перший крок">
    <div class="step-div">
      <h2>1.Введіть свою електронну адресу та придумайте пароль</h2>
      <div class="form__group">
        <input type="text" class="form__input" id="email-input" placeholder="email" required="" />
        <label for="email-input" class="form__label">email</label>
      </div>
      <div class="form__group">
        <input type="text" class="form__input" id="password-input" placeholder="пароль" required="" />
        <label for="password-input" class="form__label">пароль</label>
      </div>
      <button matStepperNext>Продовжити</button>
    </div>
  </mat-step>
  <mat-step label="Другий крок">
    <p>Тут юзернейм і аватарка</p>
    <button matStepperNext>Далі</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Фінальний крок</ng-template>
      <p>Тут фіналочка ( підтвердження імейлу і тд)</p>
      <button matStepperPrevious>Підтверити</button>
<!--      <button (click)="stepper.reset()"></button>-->
  </mat-step>
</mat-horizontal-stepper>

