.input{
  font-size: 25px;
  outline: none;
  background-color: #2d2d2d;
  border: none;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}

.button{
  font-size: 20px;
  background: none;
  border: 4px solid #fffffe;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  font-weight: 600;
  outline: none;
}

.button:hover{
  cursor: pointer;
  background-color: #fffffe;
  color: #1A1C22;
}

.input-holder{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.login-password-form{
  padding: 50px;
  display: flex;
  flex-direction: column;
}

label{
  margin: 5px 5px 5px 15px;
}
