button{
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
}

mat-horizontal-stepper{
  min-height: 700px;
}

.step-div{
  //margin: 40px auto;
  //width: 40%;
}



.dialog-input{
  font-size: 20px;
  width: 300px;
}

//*,
//*::after,
//*::before {
//  margin: 0;
//  padding: 0;
//  box-sizing: inherit;
//  font-size: 62,5%;
//}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  //margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  color: #333;
  font-size: 1.2rem;
  margin: 0;
  padding: 10px;
  border-radius: 0.2rem;
  background-color: rgb(54, 54, 54);
  color: #fffffe;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.form__group{
  width: 300px;
}
