<div class="container" *ngIf="!checkingConfirm">
  <input type="text" placeholder="email" [(ngModel)]="seller.registrationRequest.login">
  <input type="text" placeholder="Пароль" [(ngModel)]="seller.registrationRequest.password">
  <input type="text" placeholder="ІПН" [(ngModel)]="seller.taxpayerNumber">
  <input type="text" placeholder="Назва магазину" [(ngModel)]="seller.shopName">
  <button (click)="registrationButtonClick()">Зареєструватись</button>
</div>
<div class="email-confirmation" *ngIf="checkingConfirm">
  <input type="text" placeholder="Код підтвердження" [(ngModel)]="confirmCode">
  <button (click)="sendConfirmCode()">Надіслати</button>
</div>
