<app-app-panel></app-app-panel>
<!--<a href="" [routerLink]="'admin'">Admin</a>-->
<!--<app-category-table></app-category-table>-->
<!--<div style="font-size: 60px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--  Consectetur magnam necessitatibus nobis pariatur,-->
<!--  perspiciatis quibusdam reiciendis! Aspernatur assumenda dolor,-->
<!--  error est expedita id ipsum iusto nemo odio quisquam sapiente sit.-->
<!--  Consectetur magnam necessitatibus nobis pariatur,-->
<!--  perspiciatis quibusdam reiciendis! Aspernatur assumenda dolor,-->
<!--  error est expedita id ipsum iusto nemo odio quisquam sapiente sit.Consectetur magnam necessitatibus nobis pariatur,-->
<!--  perspiciatis quibusdam reiciendis! Aspernatur assumenda dolor,-->
<!--  error est expedita id ipsum iusto nemo odio quisquam sapiente sit.-->
<!--</div>-->
<router-outlet></router-outlet>
