#wrapper{
  width: 100%;
}

#search-paginator-container{
  width: 100%;
  display: flex;
  border-bottom: 1px solid #535352;
}

#search-container{
  width: 50%;
}
#search-input{
  border: 1px solid #fffffe;
  outline: none;
  background: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  width: 80%;
}

#search-button{
  outline: none;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  margin: 10px;
  transition: border 1s;
}

#search-button:hover{
  cursor: pointer;
}

#paginator-container{
  width: 50%;
  height: 100%;
  display: flex;
  padding: 5px;
  justify-content: center;
}

