* {
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
}

#main-container {
  display: flex;
  margin: 100px auto 0;
  width: 80%;
  //background-color: #fff;
  min-height: 900px;
}

#admin-routes-container{
  width: 20%;
  background-color: #1A1C22;
  padding-top: 30px;
}

#admin-content{
  width: 80%;
  background-color: #000000;
}

#admin-routes-list{
  list-style: none;
  font-size: 35px;
}

.admin-routes-links-element{
  height: 50px;
  padding: 5px;
}

.route-link{
  text-decoration: none;
  font-weight: 300;
  color: #94929C;
  padding-left: 30pxvation ;
}

.block_last{
  border-bottom: 1px solid black;
}
