<div id="main-container">
  <div id="logo-container" class="component" [routerLink]="''">Andromeda</div>
  <div class="divider">
    <a href="" [routerLink]="'admin'">Адмін</a>
  </div>
  <div id="user-info-container" class="component">
    <div id="my-profile-title">
      <span>Мій профіль</span>
    </div>
    <div class="profile-menu">
      <div class="user-authorized-container" *ngIf="username">
        <p>Ласкаво просимо, {{username}}</p>
        <button (click)="logout()">Вийти</button>
      </div>
      <div class="user-not-authorized-container" *ngIf="!username">
        <button (click)="openRegistration(false)">Увійти</button>
        <button (click)="openRegistration(true)">Зареєструватися</button>
      </div>
      <div [ngSwitch]="userRole">
        <div *ngSwitchCase="'ROLE_SELLER'">
          <a [routerLink]="'/seller/create-advertisement'">Створити оголошення</a>
        </div>
      </div>

    </div>
  </div>

</div>
<!--skipLocationChange-->
