$audiowideFont: 'Audiowide', cursive;
//$montserratFont : 'Montserrat Alternates', sans-serif;
//$robotoFont :'Roboto', sans-serif;
//$playFont : 'Play', sans-serif;

$navHeight: 60px;

* {
  //color: #d92323;
  //color: #232946;
  font-size: 30px;

}

#main-container {
  display: flex;
  height: $navHeight;
  width: 100%;
  //background-color: #fffffe;
  //background-color: #141c42;
  top: 0;
  left: 0;
  //background-color: #4496cb78;
  background-color: #323232;
  margin: 0;
  justify-content: center;
  //position: relative;
  position: fixed;
}

#logo-container {
  font-family: $audiowideFont;
  font-size: 50px;
  outline: none;
}

.divider {
  width: 45%;
}

button {
  font-size: 20px;
}

.component {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

#user-info-container {
  height: 100%;
}

#my-profile-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-menu {
  background-color: #323232;
  //color: #1A1C22;
  display: none;
  position: absolute;
  padding-top: 20px;
  height: 500px;
  top: $navHeight;
  width: 300px;
}

.profile-menu:hover {
  display: block;
  background-color: #3e3e3e;
}

#my-profile-title:hover {
  background-color: #3e3e3e;
}

#my-profile-title:hover + .profile-menu {
  display: block;
  background-color: #3e3e3e;
}
