
$audiowideFont : 'Audiowide', cursive;
//$montserratFont : 'Montserrat Alternates', sans-serif;
//$robotoFont :'Roboto', sans-serif;
//$playFont : 'Play', sans-serif;

*{
  //color: #d92323;
  //color: #232946;
  font-size: 30px;

}
#main-container{
  display: flex;
  height: 80px;
  width: 100%;
  //background-color: #fffffe;
  //background-color: #141c42;
  top: 0;
  left: 0;
  //background-color: #4496cb78;
  background-color: #323232;
  margin: 0;
  justify-content: center;
  //position: relative;
  position: fixed;
}

#logo-container{
  font-family: $audiowideFont;
  font-size: 50px;
}

.divider{
  width: 45%;
}

.component{
  display: block;
  margin-top:auto;
  margin-bottom:auto;
}

#my-profile-title{

}

