.dialog{
  width: 40%;
}

.dialog-block{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.dialog-footer{
  justify-content: center;
}

.dialog-button{
  //padding: 5px;
  width: 50px;
 }
