<div>
  <input type="text" placeholder="Назва" [(ngModel)]="advertisement.title">
  <input type="text" placeholder="Опис" [(ngModel)]="advertisement.description">
  <input type="text" placeholder="Ціна" [(ngModel)]="advertisement.price">
  <select (change)="categorySelect()" [(ngModel)]="categoryId">
    <option *ngFor="let category of categories" value="{{category.id}}">{{category.title}}</option>
  </select>
  <select [(ngModel)]="advertisement.subcategoryId">
    <option *ngFor="let subcategory of subcategories" value="{{subcategory.id}}">{{subcategory.title}}</option>
  </select>
  <input type="file" accept="image/*" (change)="handleMainUpload($event)">

  <input type="file" accept="image/*" (change)="handleUpload($event)">
  <input type="file" accept="image/*" (change)="handleUpload($event)">
  <input type="file" accept="image/*" (change)="handleUpload($event)">
  <input type="file" accept="image/*" (change)="handleUpload($event)">

  <div>
    <div>
      <input type="text" placeholder="назва" #propertyName>
      <input type="text" placeholder="значення" #propertyValue>
      <button (click)="addProperty()">Додати</button>
    </div>
    <div>
      <div *ngFor="let property of propertiesRequest.properties">
        <label>{{property.name}}</label>
        <label>{{property.value}}</label>
        <button (click)="deleteProperty(property)">Видалити</button>
      </div>
    </div>
  </div>
  <button (click)="createButtonClick()">Створити</button>
</div>
