/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

$bgColor: #232946;
//$bgColor: #000000;
$audiowideFont : 'Audiowide', cursive;
$montserratFont : 'Montserrat Alternates', sans-serif;
$robotoFont :'Roboto', sans-serif;
$playFont : 'Play', sans-serif;
*{
  font-family: $robotoFont;
  color: #fffffe;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: $bgColor;
}
html, body { height: 100%; }

button{
  color: #1A1C22;
}

input{
  color: #1A1C22;
}
