/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

$bgColor: #232946;
$audiowideFont : 'Audiowide', cursive;
$montserratFont : 'Montserrat Alternates', sans-serif;
$robotoFont :'Roboto', sans-serif;
$playFont : 'Play', sans-serif;
*{
  //font-family: 'Roboto', sans-serif;
  font-family: $robotoFont;
  //font-family: 'Montserrat Alternates', sans-serif;
  //font-family: 'Audiowide', cursive;
  color: #fffffe;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

body{
  background-color: $bgColor;
}
